<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DAO.Properties.Settings>
            <setting name="str_connection" serializeAs="String">
                <value>Server=localhost\SQLSERVER2012;Database=GD2C2017;User Id=gd;Password=gd2017</value>
            </setting>
        </DAO.Properties.Settings>
    </applicationSettings>
</configuration>